.test {
    /* margin: auto; */
}

.jumbotron {
    background-color: #eee;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* .container ,  */
.col{
    /* border: 1px solid black;
    color: red; */
}