.test {
    /* margin: auto; */
}

.jumbotron {
    background-color: #eee;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* .container ,  */
.col{
    /* border: 1px solid black;
    color: red; */
}

.myalert {
    background-color: #eee;
    padding: 20px;
    margin: auto;
    /* border: 1px solid black; */
    border-radius: 5px;
    max-width: 800px;
    /* width: 100%; */


}